--
-- PostgreSQL database dump
--

\restrict FQ224Ro86IU8REtI71dQTNCQekYQQhAqs2mzp8qx8eh6VjR6R7o1NTGu4V9J5cG

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: projections; Type: TABLE; Schema: public; Owner: ucn_user
--

CREATE TABLE public.projections (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    rut character varying NOT NULL,
    "codCarrera" character varying NOT NULL,
    catalogo character varying,
    title character varying NOT NULL,
    years jsonb NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.projections OWNER TO ucn_user;

--
-- Data for Name: projections; Type: TABLE DATA; Schema: public; Owner: ucn_user
--



--
-- Name: projections PK_a510816cc1c13126a6664198331; Type: CONSTRAINT; Schema: public; Owner: ucn_user
--

ALTER TABLE ONLY public.projections
    ADD CONSTRAINT "PK_a510816cc1c13126a6664198331" PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict FQ224Ro86IU8REtI71dQTNCQekYQQhAqs2mzp8qx8eh6VjR6R7o1NTGu4V9J5cG

